$red: #e85959;
$light-gray: rgba(0,0,0,0.05);
$light-gray-on-black: rgba(255,255,255,0.1);
$highlight-on-white: rgba(0,0,0,0.03);

@import 'icons/stroke';
@import 'form-elements';
@import 'login-form';
@import 'note-taker';


* {
  box-sizing:border-box;
}

body,
html{
  color:#333;
  font-family: 'Open Sans', Helvetica, Arial;
  height:100%;
  width:100%;
}

input{
  font-family: 'Open Sans', Helvetica, Arial;
}

.btn{
  border:0;
  border-radius:2px;
  background:$light-gray;
  text-shadow:none;
  padding:8px 21px;
  
  &:active{
    box-shadow:none;
  }
  
  &.primary{
    background:$red;
    color:#fff;
  }
}

@import 'note-list';

.list-emtpy{
  padding:20px;
  
  .primary{
    margin:0 auto;
    width:100%;
  }
}

.note{
  
  .toolbar{
    border-bottom:1px solid $light-gray;
    padding:0 20px;
    
    .formatter{
      height:50px;
      overflow:hidden;
      
      i{
        margin-right:2px;
      }
      
      .divider{
        border-left:1px solid $light-gray;
        display:inline-block;
        height:100%;
        margin:0 18px 0 15px;
        vertical-align:middle;
        width:1px;
      }
    }
    
  }
  
  .note-content{
    height:100%;
  }
  
  .note-title{
    height:30px;
    padding:0 100px;
    margin-top:120px;
    
    input{
      border:none;
      // border-bottom:1px solid $light-gray;
      background:none;
      color:rgba(0,0,0,0.4);
      font:400 16px/normal 'Cousine', Helvetica;
      // font-weight:700;
      height:100%;
      line-height:normal;
      margin:0;
      padding:0;
      width:100%;
      
      &:focus{
        box-shadow:none;
        outline:none;
      }
    }
    
    
  }
  
  #note-taker{
    border:none;
    box-shadow:none;
    font-family:'Cousine', Helvetica;
    height:100%;
    resize:none;
    outline: none;
    width:100%;
  }
}

.note-taker-composer{
  font-family:'Cousine';
}


@import 'bible-passage';