.redactor_box{
  border:none;
  height:100%;
  position:relative;
  
  .redactor_editor{
    height:calc(100% - 50px) !important;
    box-sizing:border-box;
    font-family:'Cousine', Helvetica !important;
    padding:20px !important;
    overflow:auto;
    
    *{
      font-family:'Cousine', Helvetica !important;
    }
  }
  
  .redactor_toolbar{
    background:#fff;
    border-color:$light-gray;
    box-sizing:border-box;
    height:50px !important;
    width:100%;
    
    li{
      box-sizing:border-box;
      height:100%;
      line-height:50px !important;
      padding:0 3px;
      
      a{
        margin-top:13px;
        
        &.redactor_act,
        &:hover{
          background-color:#fff;
          border-color:#ddd;
        }
      }
    }
    
    .redactor_separator{
      border-left:none;
      border-right-color:$light-gray;
      height:50px;
    }
  }
}

#redactor_modal{
  background:#fff !important;
  border:1px solid $light-gray;
  border-radius:0;
  // box-shadow:0 0 300px rgba(0,0,0,0.2);
  box-shadow:none;
}