<div class='bible-passage grid'>
  <div class="col8 content">
    <div class="passage">
      <h3>Genesis 1:1</h3>  
      <p>Now uthe serpent was more crafty than any other beast of the field that the Lord God had made.
            8 And they heard the sound of the Lord God walking in the garden in the cool3 of the day, and the man and his wife bhid themselves from the presence of the Lord God among the trees of the garden. 9 But the Lord God called to the man and said to him, “Where are you?”4 10 And he said, “I heard the sound of you in the garden, and I was afraid, cbecause I was naked, and I hid myself.” 11 He said, “Who told you that you were naked? Have you eaten of the tree of which I commanded you not to eat?” 12 The man said, d“The woman whom you gave to be with me, she gave me fruit of the tree, and I ate.” 13 Then the Lord God said to the woman, “What is this that you have done?” The woman said, e“The serpent deceived me, and I ate.”</p>
      
      <p>14 The Lord God said to the serpent,
            “Because you have done this,
            cursed are you above all livestock
            and above all beasts of the field;
            on your belly you shall go,
            and fdust you shall eat
            all the days of your life.
            15 I will put enmity between you and the woman,
            and between your offspring5 and gher offspring;
            hhe shall bruise your head,
            and you shall bruise his heel.”</p>
      
      <p>16 To the woman he said,
            “I will surely multiply your pain in childbearing;
            iin pain you shall bring forth children.
            jYour desire shall be for6 your husband,
            and he shall krule over you.”</p>
      
      <p>17 And to Adam he said,
            “Because you have listened to the voice of your wife
            and have eaten of the tree
            lof which I commanded you,
            ‘You shall not eat of it,’
            mcursed is the ground because of you;
            nin pain you shall eat of it all the days of your life;
            18 thorns and thistles it shall bring forth for you;
            and you shall eat the plants of the field.</p>
      <p>
            19 By the sweat of your face
            you shall eat bread,
            till you return to the ground,
            for out of it you were taken;
            ofor you are dust,
            and pto dust you shall return.”</p>
    </div>
  </div>
  
  <aside class="col4">
    Bar
  </aside>
</div>