<div class="grid columns split350">
  
  <section class="bar note-list">
    <div class="grid rows split60">
      <div class="bar content-header list-header">
        
        <div class="list-items">
          <span class="list-title" ng-click="showNotebookList = !showNotebookList">{{Notebook.current.title}}</span>
          <ul ng-show="showNotebookList">
            
            <li ng-click="" class="new-list">
              <form ng-submit="createNewList()">
                <input type="text" ng-model="newListTitle" placeholder="New List ...">
                <a href="" ng-show="newListTitle" ng-click="createNewList()">
                  <i class="flaticon stroke checkmark-3"></i>
                </a>
              </form>
            </li>
            
            <li ng-repeat="notebook in Notebook.all() | orderBy:orderNotebooksBy" ng-click="setCurrentNotebook(notebook)" ng-class="{active: notebook == Notebook.current}">
              {{notebook.title}}
            </li>
          </ul>
        </div>
        
        <a href="" class="list" ng-click="showNotebookList = !showNotebookList">
          <i class="flaticon stroke down-2" ng-hide="showNotebookList"></i>
          <i class="flaticon stroke up-2" ng-show="showNotebookList"></i>
        </a>
        <a href="" class="add" ng-click="composeNewNote()">
          <i class="flaticon stroke compose-2"></i>
        </a>
      </div>
      <div class="content">
        <div class="search" ng-hide="Notes.all().length == 0 || Notes.all() != undefined">
          <input type="text" placeholder="Search..." ng-model="noteListFilter">
        </div>
        <ul class="list" ng-hide="notes.length == 0">
          <li ng-repeat="note in Note.all() | filter:noteListFilter| orderBy:orderBy:true" ng-click="loadNote(note)" ng-class="{active: note == currentNote}">
            <h3>{{note.title}}</h3>
            <small>tags here</small>
          </li>
          <li ng-show="Note.all().length == undefined">
            Loading ...
          </li>
        </ul>
        <div class="list-emtpy" ng-show="notes.length == 0">
          <a href="" class="btn primary" ng-click="composeNewNote()"><i class="icon-plus icon-white"></i> Create a Note</a>
        </div>
      </div>
    </div>
  </section>
  
  <section class="content note">
      <div class="note-title">
        <input type="text" ng-model="currentNote.title" placeholder="Untitled Note..." tabindex="1"></input>
      </div>
      <textarea id="note-taker" text-editor='currentNote.content' text-editor-change='textEditorChange(content, obj)'></textarea>              
  </section>
  
</div>