<div class="grid columns split350">
  
  <section class="bar note-list">
    <div class="grid rows split50">
      <div class="bar content-header list-header">
        <!-- <a href="" class="list" ng-click="showNotebookList()">
          <i class="flaticon solid paragraph-justify-1" style="color:#fff;font-size:16px"></i>
        </a> -->
        Some List title
        <a href="" class="add" ng-click="composeNewNote()">
          <i class="flaticon solid inbox-3" style="color:#fff;font-size:16px"></i>
        </a>
      </div>
      <div class="content">
        <div class="search" ng-hide="notes.length == 0">
          <input type="text" placeholder="Search..." ng-model="noteListFilter">
        </div>
        <ul class="list" ng-hide="notes.length == 0">
          <li ng-repeat="note in notes | filter:noteListFilter| orderBy:orderBy:true" ng-click="loadNote(note)" ng-class="{active: note == currentNote}">
            <h3>{{note.title}}</h3>
            <small>tags here</small>
          </li>
          <li ng-show="notes.length == undefined">
            Loading ...
          </li>
        </ul>
        <div class="list-emtpy" ng-show="notes.length == 0">
          <a href="" class="btn primary" ng-click="composeNewNote()"><i class="icon-plus icon-white"></i> Create a Note</a>
        </div>
      </div>
    </div>
  </section>
  
  <section class="content note">
      <div class="note-title">
        <input type="text" ng-model="currentNote.title" placeholder="Untitled Note..." tabindex="1"></input>
      </div>
      <textarea id="note-taker" text-editor='currentNote.content' text-editor-change='textEditorChange(content, obj)'></textarea>              
  </section>
  
</div>